.galeria {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  will-change: transform;
  user-select: none;

  .foto {
    object-fit: cover;
    box-sizing: border-box;
    will-change: transform;
  }

  .loadingText {
    width: 100%;
    text-align: center;
  }
}
