html,
body,
#root {
  width: 100dvw;
  height: 100dvh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  --sb-track-color: #1f1f22;
  --sb-thumb-color: #746baf;
  --sb-size: 8px;
  --sb-radius: 3px;

  ::-webkit-scrollbar {
    width: var(--sb-size);
  }

  ::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: var(--sb-radius);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: var(--sb-radius);
  }

  @supports not selector(::-webkit-scrollbar) {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

#root {
  color: #e4e4f1;
  background-color: #1f1f22;
  padding: 1em;

  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    margin: 0px;
    padding: 0px;
  }
}
